.feedback {
  width:500px;
  position: relative;
  height: 200px;
  background-color: rgba(41, 41, 69, 1);
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  justify-content: start;
  align-self: start;
  color: white;
  border-radius: 10px;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
}
.reviewer {
  position: absolute;
  right: 0;
  bottom: -5px;
}
.reviews p {
  width: 100%;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.star {
  padding-top: 28.37px;
}
.reviews {
  padding-top: 8px;
}
.name {
  padding-top: 16px;
}
.name p {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.post {
  padding-top: 6px;
  color: rgba(155, 165, 254, 1);
}
.post p {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  
}

@media screen and (max-width:1300px) {
  .feedback {
    width:100%;
  }
  
}


@media screen and (max-width:830px) {
  .reviewer img{
    width:150px;
  }

  .reviews {
    padding-top: 8px;
    width:80%;
  }
 
}

@media screen and (max-width:650px) {
  .reviewer img{
    width:180px;
  }
  .reviewer{
    
  }

}

@media screen and (max-width:650px) {
  .reviewer img{
   display: none;
  }
  .reviewer{
    display:none;
  }
  .feedback{
  margin-bottom: 2rem;
  }
}