.brands {
  background: #1c1c28;
  padding-top: 32.02px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  flex-wrap: wrap;
}
.company img{
  padding: 10px;
}
.do {
  color: rgba(246, 142, 95, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 186px;
  padding-bottom: 24px;
}
.do p {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  padding-left: 8px;
  padding-right: 8px;
}
.do div {
  width: 40px;
  height: 2px;
  background: rgba(246, 142, 95, 1);
}
.meeting {
  display: flex;
  justify-content: center;
}
.meeting p {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: white;
  width: 532px;
  text-align: center;
}
.banners {
  display: flex;
  justify-content: center;
  padding: 80px 249px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 200px;
}
