.newgames {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets//godofwar2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
}
.heading {
  font-family: "Gotham";
  font-style: normal;
  padding-top: 78px;
  font-weight: 700;
  color: white;
  font-size: 32px;
  line-height: 48px;
}
.gameBox {
  margin-top: 1rem;
  width: 242px;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 47px;
}

.gameBox div a {
  text-decoration: none;
  color: white;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
}
.gameBox div {
    display: flex;
    width: 44px;
    height: 31px;
    justify-content: center;
    align-items: center;
}
.gameBox div:hover {
  background: rgba(246, 142, 95, 1);
  border-radius: 22px;
}
.allgames{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 4rem;
   
}
@media screen and (max-width:1300px) {
  .allgames{
    padding: 0 49px;
  }

  .heading{
    padding-top: 0px;
    margin-top: 2rem;
    font-size: 28px;
    line-height: 40px;
  }
  .newgames{
    height: 1000px;
  }
}

@media screen and (max-width:1300px) {
  .newgames{
    height: 1200px;
  }
}
@media screen and (max-width:470px) {

 .newgames{
  height: 1800px;
 }
  
}

@media screen and (max-width:390px) {
  .heading {
    font-weight: 700;
    color: white;
    font-size: 20px;
    line-height: 25px;
  }

  .allgames{
    padding: 0 0;
  }
}
