.header {
  width: 100%;
  background-image: url("../../assets/image.jpg");
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
}
.connecting{
  width: 60%;
}
.headerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 264px;
}
.distributors {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.distributors p {
  font-family: "Gotham";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  padding: 0 8px;
  color: white;
}
.distributors div {
  background-color: white;
  width: 40px;
  height: 2px;
}
.connecting {
  font-family: "Gotham";
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: white;
  padding-top: 24px;
  text-align: center;
}
.memberButton {
  padding-top: 40px;
  
}
.memberButton button {
  width: 306px;
  height: 56px;
  background: linear-gradient(267.28deg, #7b61ff 24%, #aa82ff 73.95%);
  border: none;
  outline: none;
  border-radius: 100px;
  font-family: "Gotham";
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.scrollDown {
  position: relative;
  top: 155px;
  color: white;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 120px;
}
.scrollDown span {
  position: relative;
  font-size: 2.1em;
  top: 3.4px;
  animation: moveUpDown 1.4s linear infinite;
}
@keyframes moveUpDown {
  0% {
    top: -3px;
  }
  50% {
    top: 6px;
  }
  100% {
    top: -3px;
  }
}


@media  screen and (max-width:1000px){
  .header{
  height: 800px;
  }

  .headerText{
    margin-top: 150px ;
  }
} 

@media  screen and (max-width:840px) {

  .header{
    height: 700px;
  }

  .headerText{
    margin-top: 120px ;
  }

  .connecting{
    font-size: 34px;
    line-height: 40px;
  }

  .memberButton{
    padding-top: 30px;
  }

  .memberButton button{
    width:250px;
    font-size: 14px;
    line-height: 17px;
  }

  .distributors p{
    font-size: 12px;
  }

 
  
}

@media  screen and (max-width:700px){
  .header{
    height: 700px;
  }
}


@media  screen and (max-width:500px){
  .header{
    height: 600px;
  }

  .headerText{
    margin-top: 60px ;
  }

  .connecting{
    font-size: 24px;
    line-height: 30px;
  }

  .memberButton{
    padding-top: 40px;
  }

  .memberButton button{
    width:200px;
    font-size: 10px;
    line-height: 12px;
    height: 40px;
  }
}

@media  screen and (max-width:350px) {
  
}