.distributor {
  width: 667px;
  height: 437px;
  background-image: url("../assets/distributer.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
}
.allCover {
  margin: 0 6rem;
  padding-top: 8rem;
  display: flex;
  color: white;
  font-family: "Gotham";
}
.allCover h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}
.points {
  display: flex;
  padding-top: 32px;
}
#img {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}
.pointhead h3 {
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.pointhead p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
@media screen and (max-width: 1200px) {
  .allCover {
   margin: 0 2rem;;
   padding-top: 6rem;
  }

  .distributor {
    width: 807px;
    height: 637px;
   
  }
}


@media screen and (max-width: 950px) {
  .allCover {
   margin: 0 2rem;;
   padding-top: 6rem;
  
  }

  .distributor {
    width: 907px;
    height: 617px;
  }
}

@media screen and (max-width: 800px) {
  .allCover {
   margin: 0 2rem;;
   padding-top: 6rem;
   flex-direction: column;
  }

  .distributor {
    width: 100%;
    height: 500px;
    margin-right: 0rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .allCover h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }

  .distributor {

    height: 400px;

  }
}

@media screen and (max-width: 400px) {
  

  .distributor {
    height: 300px;
  }
}